/*Beer Animation*/

@import url(http://fonts.googleapis.com/css?family=Lato:700,900);

h2 {
    margin: 0 auto;
    width: 400px;
    font-size: 36px;
    text-align: center;
    /*font-family: 'Lato', sans-serif;*/
    color: whiteSmoke;
}

#containerBeerAnimation {
    height: 370px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -20px;
    width: 248px;
}

#containerBeerAnimation div { position: absolute; }

.pour {
    position: absolute;
    left: 45%;
    width: 20px;
    height: 0px;
    background-color: #edaf32;
    border-radius: 10px
}

#beaker {
    border: 10px solid #FFF;
    border-top: 0;
    border-radius: 0 0 30px 30px;
    height: 200px;
    left: 14px;
    bottom: 0;
    width: 200px;
}

#beaker:before,
#beaker:after {
//border: 10px solid #FFF;
    border-bottom: 0;
    border-radius: 30px 30px 0 0;
    content: '';
    height: 30px;
    position: absolute;
    top: -40px;
    width: 30px;
}

#beaker:before { left: -50px; }
#beaker:after { right: -50px; }

#liquid {
    background-color: #edaf32;
    border: 10px solid #edaf32;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    height: 0px;
    overflow: hidden;
    width: 180px;
}

#liquid:after {
    background-color: rgba(255, 255, 255, 0.25);
    bottom: -10px;
    content: '';
    height: 200px;
    left: -40px;
    position: absolute;
    transform: rotate(30deg);
    -webkit-transform: rotate(15deg);
    width: 110px;
}

#liquid .bubble {
    -webkit-animation-name: bubble;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    border-radius: 10px;
    height: 20px;
    width: 20px;
}

@-webkit-keyframes bubble {
    0% { bottom: 0; }

    50% {
        background-color: rgba(255, 255, 255, 0.2);
        bottom: 80px;
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
        bottom: 160px;
    }
}

.bubble1 {
    left: 10px;
    -webkit-animation-delay: 1000ms;
    -webkit-animation-duration: 1000ms;
}

.bubble2 {
    left: 50px;
    -webkit-animation-delay: 700ms;
    -webkit-animation-duration: 1100ms;
}

.bubble3 {
    left: 100px;
    -webkit-animation-delay: 1200ms;
    -webkit-animation-duration: 1300ms;
}

.bubble4 {
    left: 130px;
    -webkit-animation-delay: 1100ms;
    -webkit-animation-duration: 700ms;
}

.bubble5 {
    left: 170px;
    -webkit-animation-delay: 1300ms;
    -webkit-animation-duration: 800ms;
}

/* Foam */

.beer-foam {
    position: absolute;
    bottom: 10px;
}

.foam-1, .foam-2, .foam-3, .foam-4,
.foam-5, .foam-6, .foam-7 {
    float: left;
    position: absolute;
    z-index: 999;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-color: #fefefe;
}
.foam-1 {
    top: -10px;
    left: -10px;
}
.foam-2 {
    top: -16px;
    left: 20px;
}
.foam-3 {
    top: -5px;
    left: 50px;
}
.foam-4 {
    top: -15px;
    left: 80px;
}
.foam-5 {
    top: -10px;
    left: 110px;
}
.foam-6 {
    top: -2px;
    left: 140px;
}
.foam-7 {
    top: -10px;
    left: 140px;
}

/* Drunk Text */

.animated {
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    animation-fill-mode:both;

    -webkit-animation-duration:5s;
    -moz-animation-duration:5s;
    animation-duration:5s;

    -webkit-animation-delay:3.5s;
    -moz-animation-delay:3.5s;
    animation-delay:3.5s;
}


.animated.drunk {
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;
}

@-webkit-keyframes drunk {
    0% {
        -webkit-transform: rotate(0);
        -webkit-transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
    }

    20%, 60% {
        -webkit-transform: rotate(80deg);
        -webkit-transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
    }
    40% {
        -webkit-transform: rotate(60deg);
        -webkit-transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
    }

    80% {
        -webkit-transform: rotate(60deg) translateY(0);
        -webkit-transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(700px);
        opacity: 0;
    }
}

@-moz-keyframes drunk {
    0% {
        -moz-transform: rotate(0);
        -moz-transform-origin: top left;
        -moz-animation-timing-function: ease-in-out;
    }

    20%, 60% {
        -moz-transform: rotate(80deg);
        -moz-transform-origin: top left;
        -moz-animation-timing-function: ease-in-out;
    }

    40% {
        -moz-transform: rotate(60deg);
        -moz-transform-origin: top left;
        -moz-animation-timing-function: ease-in-out;
    }

    80% {
        -moz-transform: rotate(60deg) translateY(0); opacity: 1;
        -moz-transform-origin: top left;
        -moz-animation-timing-function: ease-in-out;
    }

    100% {
        -moz-transform: translateY(700px);
        opacity: 0;
    }
}

@keyframes drunk {
    0% {
        transform: rotate(0);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    20%, 60% {
        transform: rotate(80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    40% {
        transform: rotate(60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    80% {
        transform: rotate(60deg) translateY(0);
        opacity: 1; transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translateY(700px);
        opacity: 0;
    }
}

.drunk {
    -webkit-animation-name: drunk;
    -moz-animation-name: drunk;
    animation-name: drunk;
}


/* Drunk Text */

.animated {
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    animation-fill-mode:both;

    -webkit-animation-duration:5s;
    -moz-animation-duration:5s;
    animation-duration:5s;

    -webkit-animation-delay:3.5s;
    -moz-animation-delay:3.5s;
    animation-delay:3.5s;
}


.animated.drunk {
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;
}

@-webkit-keyframes drunk {
    0% {
        -webkit-transform: rotate(0);
        -webkit-transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
    }

    20%, 60% {
        -webkit-transform: rotate(80deg);
        -webkit-transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
    }
    40% {
        -webkit-transform: rotate(60deg);
        -webkit-transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
    }

    80% {
        -webkit-transform: rotate(60deg) translateY(0);
        -webkit-transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(700px);
        opacity: 0;
    }
}

@-moz-keyframes drunk {
    0% {
        -moz-transform: rotate(0);
        -moz-transform-origin: top left;
        -moz-animation-timing-function: ease-in-out;
    }

    20%, 60% {
        -moz-transform: rotate(80deg);
        -moz-transform-origin: top left;
        -moz-animation-timing-function: ease-in-out;
    }

    40% {
        -moz-transform: rotate(60deg);
        -moz-transform-origin: top left;
        -moz-animation-timing-function: ease-in-out;
    }

    80% {
        -moz-transform: rotate(60deg) translateY(0); opacity: 1;
        -moz-transform-origin: top left;
        -moz-animation-timing-function: ease-in-out;
    }

    100% {
        -moz-transform: translateY(700px);
        opacity: 0;
    }
}

@keyframes drunk {
    0% {
        transform: rotate(0);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    20%, 60% {
        transform: rotate(80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    40% {
        transform: rotate(60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    80% {
        transform: rotate(60deg) translateY(0);
        opacity: 1; transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translateY(700px);
        opacity: 0;
    }
}

.drunk {
    -webkit-animation-name: drunk;
    -moz-animation-name: drunk;
    animation-name: drunk;
}


/*Beer Animation Above*/

.headerColor {
    background-color: #1a2242;
}

#footerLinksRow {
    margin-top: 50px;
}

#findNearbyRow {
    margin-top: 200px;
    margin-bottom: 175px;
}

#findNearbyButton {
    background-color: #1a2242;
    color: white;
    box-shadow: 5px 5px 2px #888888;
}


.commentDate {
    font-size: small;
    margin-left: 8px;
    color: #D2D2D2;
}

.commentAuthorName {
    color: #1a2242;
}

#addCommentDiv {
    margin-top: 45px;
    margin-bottom: 30px;
}

#commentSection {
    background-color: white;
}

.cancelComment {
    margin-right: 25px;
}

#customSearchButton {
    background-color: #1a2242;
    background-image: url("http://www.transparenttextures.com/patterns/assault.png");
    color: white;
    box-shadow: 5px 5px 2px #888888;

}

.commentUserImage {
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.postedCommentUserImage {
    width: 52px;
    height: 52px;
    margin: 0 auto;
}

#dropdownTextName {
    font-size: 1.2em;
    color: black;
    padding: 10px 15px;
}

#beerSignRow {
    margin-top: 20px;
}

#beerStylesTextRow {
    margin-top: 20px;
    margin-bottom:20px;
}

#beerStylesText {
    font-size: 2.5em;

}

.beerLogsHaventText {

}

#gmailPicture {
    height: 33px;
    width: 33px;
    display: inline-block;
    margin-right: 3px;
}

#dropdownTextEmail {
    font-size: .9em;
    color: black;
    padding: 10px 15px;
}

.header-container {
    margin-top: 0px;
    height: 500px;
    background-color: #1a2242;
    background-image: url("http://www.transparenttextures.com/patterns/ag-square.png");
//background-color: #1A2242;
}

#navbar-container {
//background-color: #171A22;
    background-color: #1a2242;
    background-image: url("http://www.transparenttextures.com/patterns/assault.png");
    margin-bottom: 0px;
}

.drink-drank-drunk-header-text {
    margin-top: 0px;
    position: relative;
    top: 21px;
    right: -232px;
    width: 45%;
    /*font-family: Bitter, serif;*/
    color: whitesmoke;
//color: rgba(0, 0, 0, .5);
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
}

.formFormat {
    margin-top: 100px;
}

.home-header-foreword {
    position: relative;
    top: 155px;
    right: -709px;
    width: 45%;
    /*font-family: Bitter, serif;*/
    color: whitesmoke;
//color: rgba(0, 0, 0, .5);
    font-size: 28px;
    line-height: 34px;
}

.site-text {
    /*font-family: Bitter, serif;*/
    font-weight: 400;
}

.site-text.dark-text {
    width: 50%;
    color: rgba(51, 51, 51, .83);
    text-align: center;
}

.site-text.descriptive-text {
    color: rgba(51, 51, 51, .83);
    line-height: 0.8em;
}

.greyText {
    color: rgba(51, 51, 51, .83);
}

.raise-beerimage {
    position: relative;
    left: 704px;
    top: -22px;
    right: 7px;
    clear: none;
}

@media (max-width: 479px) {
    .drink-drank-drunk-header-text {
        right: -35px;
    }
}

.navLinksDiv {
    margin-top: 35px;
}

.navLinksText {
    color: whitesmoke;
}

.toDrinkHeading {
    font-size: 2.25em;
}

.toDrinkSubHeading {
    font-size: 1.75em;
}

.toDrinkStatText {
    font-size: 1.5em;
}

.colorStat {
    color: #009688;
}

.beerLogDetails {
    display: inline-block;
    margin-left: 15px;
}

.beerLogDetailsBeer {
    font-size: 2em;
}

.beerLogDetailsBrewery {
    font-size: 1.5em;
}


.styleDescriptionText {
    font-size: 1.35em;
}

#dearBeerLogDiv {
    margin-top: 30px;
    margin-bottom: 50px;
}

#beerLogChoose {
    margin-top: 15px;
    margin-bottom: 20px;
}

#drankStats {
    margin-top: 35px;
}

#toDrinkDiv {
    margin-top: 35px;
}

.lineHeightHome {
    line-height: 0.5em;
}

#universalFont {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    background-color: white;
    /*font-family: Bitter, serif;*/
}

#homeRegisterButton {
    margin-top: 25px;
}

.homeDescriptionText {
    margin-top: 50px;
    line-height: 1em;
    padding-bottom: 50px;
}

.styleStats {
    margin-left: 35px;
}

#styleSubHeading {
    margin-top: 50px;
}

.beerTapRow {
    margin-top: 50px;
}

.currentStyleRow {
    margin-top: 10px;
}

.breweryExternalSiteText {
    margin-top: 40px;
}

.dearBeerLogIcons {
    display: inline-block;
}

.findmesection {
    background-color: #f6f6f6;
    height: 200px;
}

.beerlogFont {
    font-size: 1.5em;
}

.slideheading {
    margin-top: 160px;
}

.todrinkstatisticssection {
    position: fixed;
    left: 5px;
    width: 20%;
}

#beerSearchHeader {
    margin-top: 75px;
    margin-bottom: 50px;
}

#beerSearchDivider {
    margin-top: 25px;
    margin-bottom: 25px;
}

#beerViewHeading {
    margin-top: 25px;
    margin-bottom: 25px;
}

.subjectBreak {
    margin-top: 100px;
    margin-bottom: 70px;
    width: 60%;
    height: 1px;
    background-color: #757575;
    border-radius: 2px;
}

.subjectBreakListedBeer {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    height: 1px;
    background-color: #757575;
    border-radius: 2px;
}

.reviewCount {
    margin-left: 4px;
}

.breweryBottomTopBorders {
    width: 100%;
    height: 1px;
    background-color: #1a2242;
    border-radius: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.subjectBreakUser {
    margin-top: 100px;
    margin-bottom: 70px;
    width: 85%;
    height: 1px;
    background-color: #757575;
    border-radius: 2px;
}

.toDrinkEntry {
    margin-top: 10px;
    margin-bottom: 10px;
}

.activeUserDropDown {
    color: #daa520;
}

#dddTextDiv {
    padding-top: 17%;
}

#dhnTextDiv {
    padding-top: 35%;
}

#dhnTextDiv {
    font-size: 2.8em;
    color: ghostwhite;
    font-weight: bold;
}

#dddButtonDiv {
    padding-top: 5%
}

#dddButton {
    background-color: #F5F5F5;
    color: #1a2242;
}


#drinkdrankdrunkText {
    font-size: 5.2em;
    font-weight: bold;
    color: #EEEEEE;
}

.drinkdrankdrunkSecondary {
    font-size: 2.5em;
    color: #F5F5F5;
}

.breweryFindSectionText {
    font-size: 3.5em;
    color: #F5F5F5;
}

#beerDirectoryBody {
    background-image: url("/statics/woodTheme.jpg");
    padding-bottom: 100px;
}

#parallaxContainerStyleContentsDirectory {
    background-image: url("/statics/beerPour.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallaxContainerFindBrewery {
    background-image: url("/statics/beerCheers.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallaxContainerHome {
    background-image: url("/statics/thisBeer.jpg");
    height: 750px;
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallaxContainerStyleDirectory {
    background-image: url("/statics/beersMany.jpg");
    height: 750px;
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#directoryMenuDiv {
    margin-top: -100px;
}

#backArrow {
    cursor: pointer;
}

.homeNavText {
    font-size: 1.50em;
}

.beerCategoryDiv {
    margin-top: 5px;
    margin-bottom: 5px;
}

.beerCategory {
    font-size: 2.0em;
    cursor: pointer;
}

.beerCategory:hover {
    color: #607D8B;
}

#directoryMenuHeadingText {
    font-size: 2.75em;
}

.homeNavButton {
    color: #EEEEEE;
}

#searchBarHome {
    position: absolute;
    margin: auto;
    text-align: center;
    display: block;
    bottom: 10%;
    width: 100%;
    color: #EEEEEE;
}

.paragarphFormat {
    text-indent: 50px;
    text-align: justify;
}

#footerStyle {
    margin-top: 50px;
}

#rateBeerSelect {
    width: 20%;
}

.styleLink {
    cursor: pointer;
}

#globalRating {
    margin-left: 3px;
    color: #1a2242;
    font-weight: bold;
    font-size: 1.2em;
}

#personalRating {
    margin-left: 3px;
    color: #1a2242;
    font-weight: bold;
    font-size: 1.0em;
}

#commentDisplayDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.directoryHeader {
    height: 50px;
//background-color : #1A2242;
    background-color: #1a2242;
    background-image: url("http://www.transparenttextures.com/patterns/ag-square.png");
    color: white;
}



.footerDivider {
    width: 30%;
    height: 2px;
    border-radius: 2px;
}





/*Beer Memor*/


#beerMemoriesContainer {
    overflow: hidden;
    background-color: #FAFAFA;
}

.slider {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {

}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(/images/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(/images/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(/images/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(/images/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(/images/paddle_next_fff.png);
}



























